<table border=5><h3><tr>
	<td><a href="{% url 'sort:home_search' %}">Search the Flickr database</td>
	<td><a href="{% url 'sort:analytics' %}">Analytics</a></td>
	<td><a href="{% url 'sort:home_photos' %}">Sort Photos</a></td>
	<td><a href="{% url 'sort:home_tags' %}">Sort Tags</a></h3></td></h3></tr>
	</table>
<br>


<h3>Get number of unique owners of photos with target over a period of time</h3>
<form action="{% url 'sort:analytics' %}", method="post">
	{% csrf_token %}
	{{owners_form}}
	<input type="submit" name="owners_submit" value="Get Owners"/>
</form>

Number of owners: <textarea rows="1" cols="10">{{count}}</textarea>

<br><br><br>


<h3>Download term saturation curve data for a Target</h3>
<form action="{% url 'sort:analytics' %}", method="post">
	{% csrf_token %}
	{{target_form}}
	<input type="submit" name="csv_submit" value="Download csv"/>
</form>